<template lang="html">
  <div class="Character__Container" :style="{ 'backgroundImage': `url('https://www.bungie.net/${character.emblemBackgroundPath}')`}">
    <div class="Character__Text">
      <p>({{ genderType(character.genderType) }} {{ raceType(character.raceType) }} {{ classType(character.classType) }})</p>
      <p>Time Played {{ timePlayed(character.minutesPlayedTotal) }}</p>
      <p>Light Level {{ character.light }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    character: {
      type: Object,
      required: true
    }
  },
  methods: {
    timePlayed (minutes) {
      if (minutes > 60) {
        return Math.floor(minutes / 60) + ' hrs'
      }

      return Math.floor(minutes) + ' minutes'
    },

    raceType (race) {
      switch (race) {
        case 0:
          return 'Human'
        case 1:
          return 'Awoken'
        case 2:
          return 'Exo'
        default:
          return 'Unknown'
      }
    },

    classType (classType) {
      switch (classType) {
        case 0:
          return 'Titan'
        case 1:
          return 'Hunter'
        case 2:
          return 'Warlock'
        default:
          return 'Unknown'
      }
    },

    genderType (gender) {
      switch (gender) {
        case 0:
          return 'Male'
        case 1:
          return 'Female'
        default:
          return 'Unknown'
      }
    }
  }
}
</script>

<style lang="css" scoped>
.Character__Container {
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 96px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  width: 474px;
}

.Character__Text {
  padding: 10px;
  text-align: right;
}

.Character__Text p {
  margin: 0;
}

.Character__Text p:first-child {
  font-weight: bold;
}
</style>
