<template lang="html">
  <header class="AppHeader">
    <app-nav />
  </header>
</template>

<script>
import AppNav from '@/components/app/AppNav'

export default {
  components: { AppNav }
}
</script>

<style lang="css" scoped>
.AppHeader {
  background: #fff;
  padding: 5px;
}
</style>
