<template lang="html">
  <nav class="AppNav">
    <li>
      <router-link to="/">Home</router-link>
    </li>
    <li>
      <router-link to="/search">Search</router-link>
    </li>
  </nav>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
.AppNav li {
  display: inline-block;
  list-style: none;
}
</style>
