<template lang="html">
  <div class="ProfileCharactersRoute">
    <pulse-loader :loading="!characters.length" />
    <character-container v-for="character in characters" :character="character" :key="character.characterId" />
  </div>
</template>

<script>
import { schemas } from 'destiny-api-js'
import PulseLoader from 'vue-spinner/src/PulseLoader'
import CharacterContainer from '@/components/character/CharacterContainer'

export default {
  components: {
    PulseLoader,
    CharacterContainer
  },
  props: ['profile'],

  data () {
    return {
      characters: []
    }
  },

  async mounted () {
    const { membershipType, membershipId } = this.profile.userInfo
    const components = [schemas.DestinyComponentType.Characters]

    let { data } = await this.$destinyApiClient.Destiny2.GetProfile(membershipType, membershipId, components)

    this.characters = Object.keys(data.Response.characters.data).map(characterId => {
      return data.Response.characters.data[characterId]
    })
  }
}
</script>

<style lang="css" scoped>
</style>
