<template lang="html">
  <div class="ProfileRoute">
    <pulse-loader :loading="loading" />
    <template v-if="profile && profile.userInfo">
      <h1>{{ profile.userInfo.displayName }}</h1>
      <h2>Last played on {{ profile.dateLastPlayed }}</h2>

      <ul>
        <li>
          <router-link :to="{ name: 'ProfileCharacters', params: { membershipType, membershipId} }">
            View characters ({{ profile.characterIds.length }})
          </router-link>
        </li>
      </ul>
      <router-view :profile="profile"></router-view>
    </template>
  </div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader'

export default {
  components: { PulseLoader },
  props: {
    membershipType: {
      type: String,
      required: true
    },
    membershipId: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      loading: false,
      profile: {}
    }
  },

  async mounted () {
    this.loading = true

    let { data } = await this.$destinyApiClient.Destiny2.GetProfile(this.membershipType, this.membershipId)

    this.profile = data.Response.profile.data
    this.loading = false
  }
}
</script>

<style lang="css" scoped>
.ProfileRoute {
  background: #fff;
  padding: 20px;
}
</style>
