<template lang="html">
  <div class="UserSearchRoute">
    <user-search-form :q="q" @start="onSearchStart" @results="onSearchSuccess" />
    <user-search-results :users="users">
      <pulse-loader :loading="searching" />
    </user-search-results>
  </div>
</template>

<script>
import UserSearchForm from '@/components/search/UserSearchForm'
import UserSearchResults from '@/components/search/UserSearchResults'
import PulseLoader from 'vue-spinner/src/PulseLoader'

export default {
  props: ['q'],

  components: {
    PulseLoader,
    UserSearchForm,
    UserSearchResults
  },

  data () {
    return {
      searching: false,
      users: []
    }
  },

  methods: {
    onSearchStart () {
      this.searching = true
    },
    onSearchSuccess (searchResults) {
      this.searching = false
      this.users = searchResults
    }
  }
}
</script>

<style lang="css" scoped>
</style>
