<template lang="html">
  <div class="UserSearchResults">
    <h2>Search Results</h2>
    <slot />
    <div class="UserSearchResults__Result" v-for="user in users">
      <img :src="`https://www.bungie.net${user.iconPath}`">
      <span>{{ user.displayName }}</span>
      <span>
        <router-link :to="`/profile/${user.membershipType}/${user.membershipId}`">View Profile</router-link>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    users: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="css" scoped>
.UserSearchResults {
  background-color: #fff;
  padding: 20px;
}

h2 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.UserSearchResults__Result {
  background: #efefef;
  padding: 10px;
}

.UserSearchResults__Result img,
.UserSearchResults__Result span {
  vertical-align: middle;
}
</style>
