<template lang="html">
  <form class="UserSearchForm" @submit.prevent="onSubmit">
    <h1>Search for a user</h1>
    <label>Select membership type</label>
    <select v-model="membershipType">
      <option v-for="membershipType in bungieMembershipTypes" :value="membershipType.value">
        {{ membershipType.key }}
      </option>
    </select>

    <label>Enter a display name</label>
    <input type="text" name="displayName" v-model="displayName">

    <button type="submit" name="submit">Search</button>
  </form>
</template>

<script>
import { schemas } from 'destiny-api-js'

export default {
  props: ['q'],

  data () {
    return {
      displayName: this.q,
      membershipType: -1
    }
  },

  computed: {
    bungieMembershipTypes () {
      const { BungieMembershipType } = schemas

      return Object.keys(BungieMembershipType).map(membershipType => {
        return {
          value: BungieMembershipType[membershipType],
          key: membershipType
        }
      })
    }
  },

  methods: {
    async onSubmit () {
      this.$emit('start')
      this.$router.push({ name: 'Search', query: { q: this.displayName } })

      let { data } = await this.$destinyApiClient.Destiny2.SearchDestinyPlayer(this.membershipType, this.displayName)
      this.$emit('results', data.Response)
    }
  }
}
</script>

<style lang="css" scoped>
.UserSearchForm {
  background: #fff;
  color: #333;
  padding: 20px;
}
</style>
