<template>
  <div id="app">
    <app-header />
    <router-view />
  </div>
</template>

<script>
import AppHeader from '@/components/app/AppHeader'

export default {
  name: 'app',
  components: { AppHeader }
}
</script>

<style scoped>
</style>
